.title {
  font-size: 20px;
  margin-top: 10px;
  top: 20%;
  text-align: center;
  color: #F5F5F5;
  // transform: translate(-50%, -50%);
}

.normal {
  font-size: 15px;
  color: white;

}

section {
  /* position is static by default */
  margin-left: 200px;
  margin-bottom: 50px;
}
